body {
  background-color: rgba(0, 0, 0, 0.0);
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=text] {
  display: block;
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin: auto;
}
#wrapper {
  width: 80%;
  margin: auto;
  padding: 0px;
}
#search-wrapper {
  position: relative;
  display: inline-block;
  font-size: 12px;
  width: 100%;
}
#addrlist {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
}
#addrlist li {
  margin-left: 0px;
}
#addrlist li:hover,
#addrlist li.fake-hover {
  background-color: lightgrey;
}
input {
  padding: 5px;
  border-radius: 10px;
}
input[type=submit] {
  border: none;
}
form {
  width: 100%;
}
