body {
  background-color: rgba(0, 0, 0, 0.0);
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=text] {
  display: block;
  font-size: 16px;
  text-align: left;
  padding: 8px;
  width: 100%;
}
#wrapper {
  width: 80%;
  margin: auto;
  padding: 0px;
}
#search-wrapper {
  position: relative;
  padding-right: 16px;
  display: inline-block;
  font-size: 12px;
  width: 100%;
}
#addrlist {
  margin: 0;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
}
#addrlist li {
  margin-left: 0px;
}
#addrlist li:nth-child(odd) {
  background-color: #ddd;
}
#addrlist li:nth-child(even) {
  background-color: lightblue;
}
#addrlist li:hover,
#addrlist li.fake-hover {
  background-color: #FFF337;
}
input {
  border-radius: 10px;
}
input[type=submit] {
  border: none;
}
form {
  width: 100%;
}

input[type=submit] {
  background-color: #FFF337;
  padding: 8px;
}
input[type=submit]:hover {
  background-color: orange;
  /*background-color: #61F900;*/
}

