body {
  background-color: rgba(0, 0, 0, 0.0);
}
input[type=text] {
  padding: 6px;
  font-size: 12px;
  width: 150px;
  text-align: center;
}
#wrapper {
  margin: auto;
  width: 200px;
}
#search-wrapper {
  position: relative;
  display: inline-block;
  font-size: 8px;
}
#addrlist {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
}
#addrlist li {
  margin-left: 0px;
}
#addrlist li:hover,
#addrlist li.fake-hover {
  background-color: lightgrey;
}
h1 {
  color: white;
}
input {
  padding: 5px;
  border-radius: 10px;
}
input[type=submit] {
  border: none;
}
