{% extends 'common/master.html' %}
{% block body %}
<h1>View Download Attempts</h1>
<table>
    <tr>
        <th>Email</th>
        <th>Address</th>
        <th>IP</th>
        <th>Geolocation</th>
        <th>Timestamp</th>
        <th>Valid Code</th>
        <th>Email Sent</th>
    </tr>
    {% for req in requests %}
    <tr>
        <td>{{ req.user.email }}</td>
        <td>{{ req.pdf.address.address }}</td>
        <td>{{ req.ip }}</td>
        <td>{{ req.geolocation }}</td>
        <td>{{ req.timestamp }}</td>
        <td>{{ req.code_correct }}</td>
        <td>{{ req.email_sent }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}