{% extends 'common/master.html' %}
{% block body %}
    <div class="two-col-grid">
        <div>
            <h1>Download a quote</h1>
            <p>Download a quote from {{ company }}. Have it sent right to your inbox.</p>
            <a href="{% url 'download' %}">Download a quote</a>
        </div>
        {% if user.is_authenticated %}
            <div>
                <h1>Upload quotes</h1>
                <p>Upload quotes for {{ company }}. </p>
                <a href="{% url 'upload' %}">Upload</a>
            </div>
            <div>
                <h1>View Download Attempts</h1>
                <p>View all download attempts, what IP the request originated from, what quote was requested, if the email was sent correctly and more!</p>
                <a href="{% url 'requests_view' %}">View Downloads</a>
            </div>
            <div>
                <h1>Delete Addresses</h1>
		<p>Permenantly delete all inforamtion associated with an address.</p>
                <a href="/admin/download/address/">Delete Addresses</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
