body {
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    line-height: initial;
}
#wrapper {
    width: 80%;
    margin: auto;
    color: #333;
    line-height: 1.5em;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.two-col-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.two-col-grid > * {
    text-align: center;
}

nav {
    background-color: lightgrey;
}
a {
    color: #47a;
    padding: 12px;
    display: block;
}
a:visited {
    color: #941452;
}
nav > a {
    display: inline-block;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000;
  width: 1px;
  height: 1px;
}

ul.semantic,
ol.semantic {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
