body {
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    line-height: initial;
}
#wrapper {
    width: 80%;
    margin: auto;
    color: #333;
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: "Myriad Pro";
}
.two-col-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.two-col-grid > * {
    text-align: center;
}

nav {
    background-color: lightgrey;
}
a {
    color: #47a;
    padding: 12px;
    display: block;
}
a:visited {
    color: #941452;
}
nav > a {
    display: inline-block;
}

input {
    font-size: 24px;
}
input[type=submit] {
  background-color: #FFF337;
  color: blue;
}
input[type=submit]:hover {
  background-color: #61F900;
  opacity: 0.5;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000;
  width: 1px;
  height: 1px;
}
