{% extends 'common/plain.html' %}
{% load static %}
{% block head %}
<link href="{% static 'download/css/download.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<h1>Type In Your Code</h1>
{{ form.non_field_errors }}
<form action="{% url 'download' %}" method="POST" id="codeform">
  {% csrf_token %}
  <p>
    <label for="{{ form.address.id_for_label }}" class="sr-only">{{ form.address.label }}</label>
    <span id="search-wrapper">
      {{ form.address }}
      <span id="addrlist"></span>
    </span>
  </p>
  <p>
    <label for="{{ form.code.id_for_label }}" class="sr-only">{{ form.code.label }}</label>
    {{ form.code }}
  </p>
  <p>
    <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
    {{ form.email }}
  </p>
  <div id="statusbox" aria-live="polite" aria-atomic="true"></div>
  <input type="submit" value="Submit">
</form>
<script src="{% static 'download/js/download.js' %}" defer></script>
{% endblock %}
