<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Roof proposal for {{ address }} is attached</title>
    </head>
    <body>
      <p>
Thank you for downloading your roof proposal. Attached is a PDF document detailing your most recently priced proposal residing in our system. Save it to your computer, or better yet, print it for ease of reference. 
      </p>
      <p>
	For access to supporting information, click on the link below from your desktop computer to access a reference page explaining some key areas of your proposal and view shingle brochures which you can download if desired.
      </p>
      <p>
When you wish to chat, send us an email or give us a call at (403) 668-8681.
      </p>
      <p>
Thanks again for checking in!
<br><br>
<a href="https://www.bahnprojects.com/roof-proposal-resources">https://www.bahnprojects.com/roof-proposal-resources</a>
      </p>
      <address>
	Bahn Projects
	<br>
	(403) 668-8681
	<br>
	info@bahnprojects.com
	<br>
	www.roofquote.online
	<br>
	www.bahnprojects.com
	<br>
      </address>
    </body>
</html>
