{% extends 'common/master.html' %}
{% block body %}
<style>
    table {
        border-collapse: collapse;
    }
    td {
        padding: 20px;
        border: 1px solid black;
        margin: 0px;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>User</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>
        {% for req in requests %}
        <tr>
            <td>{{ req.user.email }}</td>
            <td>{{ req.address.address }}</td>
            <td><input type="checkbox" value="{{ req.id }}" name="req_ids" id="req_ids_{{ req.id }}"></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Delete">
</form>
{% endblock %}